extends layout
block content
    h2 Customer Detail
        p #{customer.name}
            h3 Order History
                if customer.orders.length
                    ol
                        each order in customer.orders
                            li From #{order.restaurant} to #{order.destination}
                else
                    p No Orders.